#gomoku {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  margin: 40px;
}

.icon-btn {
  margin: 0px;
  padding: 0px;
  border: 1px solid;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 60px;
}